*.idea
.vscode
.DS_Store

**/*.pyc

# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]


# Makefile
# /Makefile

# Environment files
**/env/

# Umbrella chart temp files
**/umbrella_chart/

# Helm charts
**/.helm/
**/charts/
**/tmp-helm-*/

# Scanning reports of trivy
image_lists/*

# Node modules and package manager files
node_modules/
package-lock.json
yarn.lock

# Prettier cache
.prettier-cache/

# Pre-commit cache
.pre-commit-cache/